<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core">

    <h:head>
        <title>Facelet Title</title>

    </h:head>
    <h:body>
        <ui:composition template="masterTemplate.xhtml">
            <ui:define name="content">
               <div style="text-align: center;">
                        <div class="summary">
                            <p> Gjelder for kontrol #{surveyView.survey.formattedTime}</p>
                 
                             <ui:include src="summaryTemplate.xhtml">
                      <ui:param name="survey" value="#{surveyView.survey}" />
                </ui:include>
                    
                    <h:form><h:commandButton value="Avslutt" action="#{surveyView.endConversation()}" type="submit"/></h:form>
                        </div>
               </div>                    
            </ui:define>
        </ui:composition>
    </h:body>
</html>

