<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <f:view>

        <h:head>
            <h:outputStylesheet name="css/style.css" />
            <link rel="stylesheet"
                  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></link>
            <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
            <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
            <title>Kontroller</title>
        </h:head>
        <h:body>

            <ui:include src="./navbar.xhtml">
                <ui:param name="activeView" value="consultationHistory" />

            </ui:include>
    
           <div style="text-align: center;">
                        
                        <div style="width: 500px; margin: 0 auto; "> 
            <h:form>
                <h:dataTable  var="survey" value="#{surveyListView.consultations}" 
                                          styleClass="my-table"
                                          headerClass="my-table-header"
                                          rowClasses="my-table-odd-row,my-table-even-row">
                                <h:column>    				
                                    <f:facet name="header"><h:outputText value="Dato"/></f:facet>    				
                                    <h:outputText value="#{survey.getFormattedTime('dd.MM.yyyy')}" > </h:outputText>
                                </h:column>
                    
                             <h:column>    				
                                    <f:facet name="header"><h:outputText value="Gå til"/></f:facet>    				
                                    <h:commandLink action="#{surveyListView.viewSurvey(survey)}" class="btn btn-info btn-circle-small"  type="submit">
                                        <span class="glyphicon glyphicon-arrow-right"></span>
                                    </h:commandLink>
                                </h:column>

                            </h:dataTable>
            

            </h:form>
                            
                        </div></div>
            
        </h:body>
    </f:view>
</html>
