<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition> 
          
            <h:commandLink rendered="#{surveyView.step gt 1}" action="#{surveyView.decrementStep()}" styleClass="left" value="&#8592;Tilbake"/>
            <h:commandLink action="#{surveyView.incrementStep()}"  styleClass="right" value="Neste&#8594;" rendered="#{surveyView.step lt surveyView.MAX_STEPS}"/>
            <h:commandLink action="#{surveyView.goToConfirmation()}" styleClass="right" value="Lever" rendered="#{surveyView.step ge surveyView.MAX_STEPS}"/>
          
           
              
        
            <br></br>
            <br/>
           <!--    <div class="center"><div class="center"><a href="http://example.com" class="round-button">Send svarene nå</a></div></div> -->
          
         </ui:composition>	
    </h:body>
</html>

