<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
        
    </h:head>
    <h:body>

        <ui:composition> 

            <div class="center"><h2>Din neste kontroll er planlagt til <br/>#{surveyView.survey.formattedTime}</h2></div>
            
            <div class="container">
                <ul class="progressbar">
                    <li class="active">Behov</li>
                    <li class="#{surveyView.step > 1 ? 'active' : ''}">Symptomer</li>
                    <li class="#{surveyView.step > 3 ? 'active' : ''}">Bivirkninger</li>
                    <li class="#{surveyView.step > 6 ? 'active' : ''}">Annet</li>
                </ul>
            </div>

            
        </ui:composition> 
    </h:body>
</html>

