<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
        xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

<f:view>
	
	<h:head>
		<link rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></link>
		<link rel="stylesheet" href="style.css"></link>
		<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
		<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<title>Login</title>
	</h:head>
	<h:body>
		<div class="container">
			<h:form class="form-signin" id="submitForm">
				<h4 class="form-signin-heading">Vennligst oppgi personnummer og
					passord</h4>

				<label for="fnr">Personnummer: </label>
				<h:inputText class="form-control" id="fnr"
					value="#{sessionScope['Ssn']}" required="true"
					a:placeholder="Personnummer:"/>

				<label for="password">Passord: </label>
				<h:inputSecret class="form-control" a:placeholder="Passord:"
					value="#{loginView.password}" id="password"
					required="true"/>

				<h:commandButton class="btn btn-lg btn-primary btn-block"
					id="submit_button" value="Login"
					action="#{loginView.login()}" />
			</h:form>
		</div>
	</h:body>
</f:view>
</html>
