<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      >
   <f:event listener="#{surveyView.initConversation}"
             type="preRenderView"></f:event>
    <h:head>
       <h:outputStylesheet name="css/style.css" />
        <link href='https://fonts.googleapis.com/css?family=Alegreya+Sans' rel='stylesheet' type='text/css'/>
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
        <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
        <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        
        
      
        
        <title>
            <ui:insert name="title">Neste kontroll</ui:insert>
        </title>        
    </h:head>

    <h:body>
        <div id="wrapper">
            <div id="header">
                <ui:include src="navbar.xhtml">
                    <ui:param name="activeView" value="nextConsultation" />

                </ui:include>
            </div>

            <div id="appHeader">
                <ui:include src="header.xhtml"/>
            </div>
            <div id ="content">
                <ui:insert name="content" />
            </div>

      

        </div>
    </h:body>

</html>