<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

<f:view>
	
	<h:head>
		<link rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></link>
		<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
		<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

		<title>Min Side</title>
	</h:head>
	<h:body>
		<ui:include src="./navbar.xhtml">
			<ui:param name="activeView" value="myPage" />
		</ui:include>
		
		<p> Her er startsiden </p>
         
            
	</h:body>
</f:view>
</html>
