
<ui:composition   
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    
			<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
						aria-expanded="false">
						<span class="sr-only">Toggle navigation</span> 
						<span class="icon-bar"></span> 
						<span class="icon-bar"></span> 
						<span class="icon-bar"></span>
					</button>
					<h:form>
					<a href="#" class="navbar-brand">MS App</a>
					</h:form>				
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<h:form>
						<ul class="nav navbar-nav">
							<li class="dropdown #{activeView == 'myPage' ? 'active' : ''}">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
									aria-haspopup="true" aria-expanded="false">	
									Min Side
									<span class="sr-only">(current)</span><span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
                                                                    <li><a href="#">
										Opplysninger om meg
									</a></li>
									<li><a href="#">Endre passord</a></li>
									<li><a href="#">Administrere tilgang</a></li>
									<li><a href="#">Mine data</a></li>
									<li><a href="#">Melde meg av appen</a></li>
									<li role="separator" class="divider"></li>
									<li><a href="#">Kontakt på sykehuset</a></li>
									<li><a href="#">Attakk telefonen</a></li>
								</ul>
							</li>
							<li class="#{activeView == 'consultationHistory' ? 'active' : ''}">
                                                            <a href="consultationHistory.xhtml" > Kontroller </a> 
							</li>
							<li class="#{activeView == 'nextConsultation' ? 'active' : ''}">
                                                            <a href="nextConsultation.xhtml">
									Neste kontroll
                                                            </a>
							</li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li><a href="#">Om appen</a></li>
						</ul>
					</h:form>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid --> </nav>


</ui:composition>