<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <title>Neste kontroll</title>
    </h:head>
    <h:body>
        <ui:composition template="masterTemplate.xhtml">
            <ui:define name="content">

                <h:form  styleClass="center" rendered="#{surveyView.step eq 1}">

                    <div class="question"> Føler du behov for å gjennomføre kontrollen? </div>

                    <div style="text-align: left;">
                        <div class="answers">

                            <p:selectOneRadio id="foo" value="#{surveyView.survey.needForConsultation}" layout="pageDirection" styleClass="choices" >
                                <f:selectItem itemValue="Du har behov for å gjennomføre kontrollen" itemLabel="Ja"  ><br/> </f:selectItem> 
                                <f:selectItem itemValue="Du har ikke behov for å gjennomføre kontrollen" itemLabel="Nei" />
                                <f:selectItem itemValue="Du er usikker på om du har behov for å gjennomføre kontrollen" itemLabel="Er i tvil" />
                            </p:selectOneRadio>



                        </div>
                    </div>

                    <div id="footer" >  <ui:include src="footer.xhtml"/>   </div>
                </h:form>

                <h:form  styleClass="center" rendered="#{surveyView.step eq 2}">

                    <div class="question"> Oversikt over symptomer:</div>

                    <div style="text-align: center; margin: 0;">

                        <div style="width: 100%; max-width: 500px; margin: 10px auto; "> 
                            <h:dataTable  var="symptom" value="#{surveyView.survey.symptoms}" 
                                          styleClass="my-table"
                                          headerClass="my-table-header"
                                          rowClasses="my-table-odd-row,my-table-even-row">
                                <h:column>    				
                                    <f:facet name="header"><h:outputText value="Symptom"/></f:facet>    				
                                    <h:outputText value="#{symptom.name}"> </h:outputText>
                                </h:column>

                                <h:column>
                                    <f:facet name="header"><h:outputText value="Svar"/></f:facet>   
                                    <h:commandButton action="#{surveyView.viewSymptom(symptom)}" id="submit_button" class="btn btn-lg btn-primary btn-block" value="X">
                                    </h:commandButton>
                                </h:column>

                            </h:dataTable>
                        </div>
                    </div>

                    <div id="footer" >  <ui:include src="footer.xhtml"/>   </div>

                </h:form>
                <h:form rendered="#{surveyView.step eq 3}" styleClass="center">

                    <div class="question" > Har du oppdatert symptomene slik at de stemmer med situasjonen i dag?</div>

                    <div style="text-align: left;">
                        <div class="answers">

                            <p:selectOneRadio value="#{surveyView.survey.symptomListUpdated}" layout="pageDirection" styleClass="choices">
                                <f:selectItem itemValue="Er oppdatert til å gjelde i dag" itemLabel="Ja"  ></f:selectItem> 
                                <f:selectItem itemValue="Er delvis oppdatert til å gjelde i dag" itemLabel="Delvis" />
                                <f:selectItem itemValue="Er ikke oppdatert  til å gjelde i dag" itemLabel="Nei, se bort fra symptomregistreringen" ></f:selectItem>

                            </p:selectOneRadio>


                        </div>
                    </div>

                    <div id="footer" >  <ui:include src="footer.xhtml"/>   </div>
                </h:form>

                <h:form styleClass="center" rendered="#{surveyView.step eq 4}" >

                    <div class="question">Har det nylig oppstått bivirkninger av din MS-medisin?</div>

                    <div style="text-align: left;">
                        <div class="answers">

                            <p:selectOneRadio value="#{surveyView.survey.newSideEffectsDegree}" layout="pageDirection" styleClass="choices" >
                                <f:selectItem itemValue="Ingen" itemLabel="Nei, ingen bivirkninger"  ><br/> </f:selectItem> 
                                <f:selectItem itemValue="Sterkt plagsomme" itemLabel="Ja, sterkt plagsomme" />
                                <f:selectItem itemValue="Moderate plager" itemLabel="Ja, moderate plager" />
                                <f:selectItem itemValue="Svake plager" itemLabel="Ja, svake plager" ></f:selectItem>

                            </p:selectOneRadio>
                        </div>
                    </div>

                    <div class="question">Har du hatt bivirkninger av din MS-medisin over lengre tid?</div>
                    <div style="text-align: left;">
                        <div class="answers">
                            <p:selectOneRadio value="#{surveyView.survey.oldSideEffectsDegree}" layout="pageDirection" styleClass="choices" >
                                <f:selectItem itemValue="Ingen" itemLabel="Nei, ingen bivirkninger"  ><br/> </f:selectItem> 
                                <f:selectItem itemValue="Sterkt plagsomme" itemLabel="Ja, sterkt plagsomme" />
                                <f:selectItem itemValue="Moderate plager" itemLabel="Ja, moderate plager" />
                                <f:selectItem itemValue="Svake plager" itemLabel="Ja, svake plager" ></f:selectItem>

                            </p:selectOneRadio>


                        </div>
                    </div>

                    <div id="footer" >  <ui:include src="footer.xhtml"/>   </div>
                </h:form>

                <h:form styleClass="center" rendered="#{surveyView.step eq 5}">
                    <div class="question">Hvis du ønsker kan du under gi en kort beskrivelse av bivirkningene du har:</div>
                    <br/> 
                    <h:inputTextarea value="#{surveyView.survey.sideEffectsNote}" rows="4"  styleClass="textBox"/> 
                    <br/> <br/>
                    <div class="question"> <p:selectBooleanCheckbox value="#{surveyView.survey.sideEffectsImportant}" />

                        Bivirkninger er viktig tema for neste kontroll </div>
                    <div id="footer" >  <ui:include src="footer.xhtml"/>   </div>
                </h:form>


                <h:form rendered="#{surveyView.step eq 6}" styleClass="center">

                    <div class="question"> Har du oppdatert bivirkningene slik at de stemmer med slik situasjonen er i dag?</div>

                    <div style="text-align: left;">
                        <div class="answers">

                            <p:selectOneRadio value="#{surveyView.survey.sideEffectsUpdated}" layout="pageDirection" styleClass="choices" >
                                <f:selectItem itemValue="Er oppdatert til å gjelde i dag" itemLabel="Ja"  ><br/> </f:selectItem> 
                                <f:selectItem itemValue="Er delvis oppdatert til å gjelde i dag" itemLabel="Delvis" />
                                <f:selectItem itemValue="Er ikke oppdatert til å gjelde i dag" itemLabel="Nei, se bort fra bivirkningsopplysningene" ></f:selectItem>

                            </p:selectOneRadio>
                        </div>
                    </div>
                    <div id="footer" >  <ui:include src="footer.xhtml"/>   </div>
                </h:form>




                <h:form rendered="#{surveyView.step eq 7}" styleClass="center">

                    <div class="question">Er det andre tema du ønsker å ta opp på kontrollen?</div>

                    <div style="text-align: left;">
                        <div class="answers">

                            <p:selectManyCheckbox value="#{surveyView.survey.otherSubjects}" layout="pageDirection" converter="otherSubjectConverter" styleClass="choices">
                                <f:selectItem itemValue="ta opp spørsmål om MS-medisin" itemLabel="Spørsmål om MS-medisin" />
                                <f:selectItem itemValue="ta opp stamcelle behandling" itemLabel="Stamcelle behandling" />
                                <f:selectItem itemValue="ta opp rehabilitering" itemLabel="Rehabilitering" />
                                <f:selectItem itemValue="få info/samtykke til registrering i MS-registeret" itemLabel="Ønsker informasjon/avgi samtykke til Norsk MS register og biobank" />
                            </p:selectManyCheckbox>
                            <br/>
                            <div class="question">Annet</div>
                            <h:inputTextarea value="#{surveyView.survey.otherSubjectsNote}" rows="4"  styleClass="textBox"/> 
                        </div>
                    </div>
                    <div id="footer" >  <ui:include src="footer.xhtml"/>   </div>
                </h:form>

            </ui:define>
        </ui:composition>
    </h:body>
</html>

