<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
         <h:outputStylesheet name="css/style.css" />
        <title>Facelet Title</title>
         
    </h:head>
    <h:body>
        
        <h:form styleClass="center"> 
            <fieldset>
                <legend>#{symptomView.symptom.name}</legend>
             
                
                <h:outputText value="Infrmation abut this symptom: #{symptomView.symptom.description}"></h:outputText>
                <br/>
                <br/>
                    <div class="question" style="margin-left:-8%"> Alvorlighet av symptomet (Nå i det siste): </div>

                     <div style="text-align: left;">
                        <div class="answers">

                    <p:selectOneRadio value="#{symptomView.symptom.severity}" layout="pageDirection"   >
                        <f:selectItem itemValue="Sterke plager" itemLabel="Mye ubehag/påvirker hverdagen i stor grad"  ></f:selectItem> 
                        <f:selectItem itemValue="Moderate plager" itemLabel="Plagsom/Påvirker hverdagen" />
                        <f:selectItem itemValue="Plages ikke" itemLabel="Plages ikke" />
                        <f:selectItem itemValue="Ikke aktuell lenger" itemLabel="Ikke aktuell lenger"  /> 
                    </p:selectOneRadio>
                    </div>
                    </div>
               
                   
                  <br/>  
                   <div class="question" style="margin-left:-15%"> Endring siden forrige kontroll: </div>

                    <div style="text-align: left;">
                        <div class="answers">

                    <p:selectOneRadio value="#{symptomView.symptom.change}" layout="pageDirection" style="vertical-align: middle; margin: 0px;"  >
                        <f:selectItem itemValue="Forværret" itemLabel="Er blitt værre i det siste"  ></f:selectItem> 
                        <f:selectItem itemValue="Uforandret" itemLabel="Er uforandret" />
                        <f:selectItem itemValue="Blitt bedre" itemLabel="Er blitt bedre" />
                        

                    </p:selectOneRadio>
                            <br/>
                            <div style="width:100%;">
                                
                           <div style="float:right; width: 80%; margin-bottom:5px;"> Viktig tema for neste kontroll</div> 
                           <div stlye="width:20%;"> <p:selectBooleanCheckbox value="#{symptomView.symptom.important}" /> </div>
                         
                            </div>
                            <h:commandButton type="submit" value="Ferdig" action="#{symptomView.submit()}"/>   
                         </div>
                    </div>
                   
            </fieldset>
        </h:form>
    </h:body>
</html>

